@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}

#content {
}
#wrapper {
	width: 1000px;
	min-height: 600px;
	margin-left: auto;
	display: block;
	margin-right: auto;
}
header {
	width: auto;
	background-color: #094ED8;
	height: 100px;
}

#nav {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 50px;
	padding-top: 20px;


}
ul.nav>li {
	display: inline;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	margin-top: auto;
	margin-bottom: auto;
}
